black==22.1.0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
mypy-extensions==0.4.3
numpy==1.22.2
pathspec==0.9.0
platformdirs==2.5.0
pyembroidery==1.4.33
Pygments==2.11.2
rich==11.2.0
scipy==1.8.0
svgpathtools==1.4.4
svgwrite==1.4.1
tomli==2.0.1
